
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<h2>@ViewBag.Title</h2>
<h1>@ViewBag.SeriesTitle</h1>
<h2>issue #@ViewBag.Issuenumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(@ViewBag.Description)</div>

@if (@ViewBag.Artists.Length > 0)
{
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li> @artist </li>
            }
        </ul>
    </div>
}else
{
<h5>There is no artists</h5> 
}

